:root {
    --app-background-dark: rgb(24, 23, 32);
}

body {
    background-color: var(--app-background-dark);
    color: #fff;
    margin: 0;
    font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1200px);
    margin: 0 auto;
}

.star-rating {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    height: 200px; 
}
  
.star {
    font-size: 3.5rem;
    color: #e4e5e9;
    margin: 0 6px;
    cursor: pointer;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.message {
    position: absolute;
    margin-top: 100px;
    font-size: 18px;
}

.dialog-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.dialog-btn button {
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 35px;
    width: 130px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    cursor: pointer;
}

.dialog-btn button:hover {
    background-color: #0068d8;
}

img {
    height: 400px;
    width: 500px;
}